seekerClient/src/main/resources/product.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://gen.seeker.flying.com" targetNamespace="http://gen.seeker.flying.com">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://gen.seeker.flying.com">
            <xs:element name="getProductsRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="searchString" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getProductsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="products" type="tns:ArrayOfProducts" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Product">
                <xs:sequence>
                    <xs:element name="_id" type="xs:string" />
                    <xs:element name="name" type="xs:string" />
                    <xs:element name="price" type="xs:double" />
                    <xs:element name="date" type="xs:date" />
                    <xs:element name="description" type="xs:string" />
                    <xs:element name="isOnOffer" type="xs:boolean" />
                    <xs:element name="place_arrival" type="xs:string" />
                    <xs:element name="place_depature" type="xs:string" />
                    <xs:element name="img" type="xs:string" />
                    <xs:element name="categories" type="tns:ArrayOfString" />
                    <xs:element name="reviews" type="tns:ArrayOfReviews" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Review">
                <xs:sequence>
                    <xs:element name="_id" type="xs:string" />
                    <xs:element name="comentary" type="xs:string" />
                    <xs:element name="stars" type="xs:int" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ArrayOfString">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="string" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ArrayOfReviews">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Review" nillable="true" type="tns:Review" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ArrayOfProducts">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Product" nillable="true" type="tns:Product" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getProductsRequest">
        <wsdl:part element="tns:getProductsRequest" name="getProductsRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getProductsResponse">
        <wsdl:part element="tns:getProductsResponse" name="getProductsResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="ProductServicePort">
        <wsdl:operation name="getProducts">
            <wsdl:input message="tns:getProductsRequest" name="getProductsRequest"></wsdl:input>
            <wsdl:output message="tns:getProductsResponse" name="getProductsResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ProductServicePortSoap11" type="tns:ProductServicePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="getProducts">
            <soap:operation soapAction="" />
            <wsdl:input name="getProductsRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="getProductsResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ProductServicePortService">
        <wsdl:port binding="tns:ProductServicePortSoap11" name="ProductServicePortSoap11">
            <soap:address location="http://localhost:8091/ws" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>