seeker/src/main/resources/product.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://gen.seeker.flying.com" targetNamespace="http://gen.seeker.flying.com" elementFormDefault="qualified">
    <xs:element name="getProductsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getProductsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="products" type="tns:ArrayOfProducts" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="Product">
        <xs:sequence>
            <xs:element name="name" type="xs:string" />
            <xs:element name="price" type="xs:double" />
            <xs:element name="date" type="xs:date" />
            <xs:element name="description" type="xs:string" />
            <xs:element name="isOnOffer" type="xs:boolean" />
            <xs:element name="place_arrival" type="xs:string" />
            <xs:element name="place_depature" type="xs:string" />
            <xs:element name="product_owner" type="xs:string" />
            <xs:element name="img" type="xs:string" />
            <xs:element name="categories" type="tns:ArrayOfString" />
            <xs:element name="reviews" type="tns:ArrayOfReviews" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Review">
        <xs:sequence>
            <xs:element name="comentary" type="xs:string" />
            <xs:element name="stars" type="xs:int" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ArrayOfString">
        <xs:sequence>
            <xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded" nillable="true"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ArrayOfReviews">
        <xs:sequence>
            <xs:element name="Review" type="tns:Review" minOccurs="0" maxOccurs="unbounded" nillable="true"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ArrayOfProducts">
        <xs:sequence>
            <xs:element name="Product" type="tns:Product" minOccurs="0" maxOccurs="unbounded" nillable="true"></xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>